html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
/*After reset of the html box model, you need to pass that on to the elements within as well. 
To do this, you can set the box-sizing property to inherit, which will tell the targeted elements to use the same value as the parent element.
You will also need to target the pseudo-elements, which are special keywords that follow a selector. The two pseudo-elements you will be using are the ::before and ::after pseudo-elements.

The ::before selector creates a pseudo-element which is the first child of the selected element, while the ::after selector creates a pseudo-element which is the last child of the selected element. 
These pseudo-elements are often used to create cosmetic content, which you will see later in this project.
*/

#piano{
    background-color: #00471b;
    width: 992px;
    height: 290px;
    margin: 80px auto;
    padding: 90px 20px 0 20px;
  }

  .keys {
    background-color: #040404;
    width: 949px;
    height: 180px;
    padding-left: 2px;
  }

  .key {
    background-color: #ffffff;
    position: relative;
    width: 41px;
    height: 175px;
  }
  
