html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

header{
    padding: 10px 30px;     /*sets top padding top and bottom padding to 10 and sides paddings to 30*/
    margin: 0 auto;         /*sets upper margin to 0, and auto sets side magin to center box of element,padding and border*/
    max-widt;            /*sets width to automatically fit the screen*/
    height: 80px;           /*sets height to 80, this would automatically set with font size if no height*/
    background: linear-gradient(to right, rgb(0, 229, 255),rgb(227, 231, 47));
    background-color: rgb(163, 232, 232);
    border-style: solid;
    border-bottom-width: 3px;
    border-color: rgb(255, 0, 0);
    ackground: radial-gradient(#a42d9e, #191a10);
}

.row{
    display: inline-block;      /*positions the elements to align horizontally*/
    /*width: 33%;                 /*sets each of the element to 33% width of the parent element(header) which is taking the width of the screen*/
}

.center{
    display: inline-flex;       /*display flex makes it possible to manipulate how the content elements display, but flex make the element block line, hence inline-flex*/
    flex-direction: row;        /*makes the content elements alignt horizontally*/
    flex-wrap: wrap;            /*makes the content element stay within display in screen, rather than extending and requiring a scroll, it jumps to next line*/
    justify-content: space-between; /*determines how element align, here, equall space between all*/
    position: relative;         /*this is used to adjust the position of the element relative to its normal position while absolute is relative to its parent element,*/
    bottom: 20px;               /*moves the element 20px from bottom*/
    right: 20px;                /*moves the element 30px from the right*/
}

.right{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    bottom: 20px;
}

.logo{
    font-size: 45px;
    font-family:Lucida;
    font-weight: bolder;
    color: rgb(255, 25, 0);;
    letter-spacing: .2em;
    font-style: italic;
    text-shadow: 1px 6px 6px rgb(0, 0, 0);
}



.small{
    font-style: italic;
    color:rgba(0, 0, 0, 0.764)
}

.item{
    margin-left;
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(208, 33, 33, 0.966);
    font-family:cursive;
    font-weight: bold;
    text-decoration: none;  /*removes the line under the link*/
}

.emoji{
    padding-left: 50px;         /*gives the elements a padding of 50 to the left, this enables aligning like the flex justify-content*/
    font-size: xx-large;
    text-decoration: none;
    color: #4a9b96;
    font-weight: bolder;
}

.tag{
    position: relative;
    top: 27px;
    right: 30px;
    color: rgb(0, 0, 0);
    font-style: italic;
}

.item:hover{                    /*changes element colour when it is hovered over*/
    color: rgb(0, 0, 139);
}

.emoji:hover{
  color: rgb(0,0,139);
}

.dropdown-cont{ /*details of drop down element, hidden by default*/
    display: none;  /*hides the element*/
    position: absolute;
    min-width: 170px;
    background-color: rgba(227, 231, 47, 0.872);
    border-radius: 10px;
    box-shadow: 10px 6px 4px rgb(3, 16, 16);
    z-index: 1; /*specifies the stack order of an element (which element should be placed in front of, or behind, the others).An element can have a positive or negative stack order:*/
    animation-name: drop; /*an animation effect is tagged for creation with keyframes*/
    animation-duration: 6s;   
    /*animation-iteration-count: 3;*/
  }

  @keyframes drop {      /*example animation binded to the element that has it*/
    from {background-color: rgb(163, 232, 232);}
    to {background-color: rgba(227, 231, 47, 0.872)}
  }

  .dropdown-cont a {        /*drop down links properties*/
    text-decoration: none;
    color: rgb(13, 35, 26);
    padding: 20px 30px;
    text-decoration: none;
    display: block;
    border-style:dotted;
    border-width: 1px;
    color: rgba(208, 33, 33, 0.966); 
  }

.dropdown:hover .dropdown-cont{     /*showss dropdown menu on hover in block display*/
    display: block;
  }

.dropdown:hover .item{  /*links behaviour when dropdown is shown*/ 
    color: rgb(0, 0, 130);
}

.dropdown-cont a:hover{  /*dropdown links behaviour on hover*/
    color:rgb(0, 0, 133);
}
.ladies{
  display: inline-flex; /*makes all element align horizontally*/
  width: 100%; /*fits the whole element to the screen width*/
  background-color: rgb(237, 131, 0);
}

.ladies-a{
  height: 860px;
  width: 100%; /*fixes width perfectly into remaining space*/
}
.womenn{
  display:block; /*removes white spaces between the elements*/
  border-style: solid;
  border-width: 1px;
  border-color:#fffb00;
  width: 100%;
}

.womenn {
  display:block;
  border-style: solid;
  border-width: 1px;
  border-color:#fffb00;
  height: 25%;
  width: 100%;
}


.gents-a{
  height: 860px;
  width: 100%;
}

.menn{
  display:block;
  border-style: solid;
  border-width: 1px;
  border-color:#fffb00;
  height: 25%;
  width: 100%;
}



.womenn:hove{
  animation-name: womenn;
  animation-duration: infinite;
  border-color: rgba(227, 231, 47, 0.872); 

}

.menn:hovr{
  animation-name: womenn;
  animation-duration: infinite;
  border-color: rgba(227, 231, 47, 0.872);

}