h1, h2, p {
    text-align: center;
  }

body {
/    background-color: burlywood;
  }
  
  
  div {
    width: 80%; /*(1)The goal now is to make the div not take up the entire width of the page, taking 80% of parent element width*/
    background-color: burlywood;
    margin: 0   auto; /*(2)The goal now is to center the div on the page*/
  }