body{
    width: 100%;
    height: 100vh; /*The vh unit is based on the height of the viewport, which is the visible area of your web page.when you set height: 100vh; you're making the height of the element 100% the same as the height of the viewport,  which is the screen height.*/
  }

  label{
    display: block;
    margin: 0.5rem 0;/*The rem unit stands for root em, and is relative to the font size of the html element.*/
  }